<div class="navbar-top" [ngClass]="lambdaConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <span class="logo-text secondary-text">Cal</span>
        <img class="logo-icon" src="assets/images/logos/lambda.svg">
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_forward</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="lambdaConfig.layout.navbar.primaryBackground"
     lambdaPerfectScrollbar [lambdaPerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="lambdaConfig.layout.navbar.secondaryBackground">
        <div class="h3 username">מובדא עלי</div>
        <div class="h5 email hint-text mt-8">support@support.net</div>
        <a [routerLink]="'/pages/profile'">
            <div class="avatar-container" [ngClass]="lambdaConfig.layout.navbar.primaryBackground">
                <img class="avatar" src="assets/images/avatars/Velazquez.jpg">
            </div>
        </a>
    </div>

    <div class="navbar-content">
        <lambda-navigation class="material2" layout="vertical"></lambda-navigation>
    </div>

</div>
