<!-- SIDE PANEL -->
<ng-container *ngIf="!lambdaConfig.layout.sidepanel.hidden && lambdaConfig.layout.sidepanel.position === 'left'">

    <!-- CHAT PANEL -->
    <lambda-sidebar name="chatPanel" position="left" class="chat-panel left-chat-panel"
                  [folded]="true" [foldedWidth]="70" [foldedAutoTriggerOnHover]="false"
                  lockedOpen="gt-md">
        <chat-panel></chat-panel>
    </lambda-sidebar>
    <!-- / CHAT PANEL -->

</ng-container>
<!-- / SIDE PANEL -->

<div id="main">

    <!-- TOOLBAR: Above fixed -->
    <ng-container *ngIf="lambdaConfig.layout.toolbar.position === 'above-fixed'">
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </ng-container>
    <!-- / TOOLBAR: Above fixed -->

    <div id="container-1" class="container" lambdaPerfectScrollbar
         [lambdaPerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">

        <!-- TOOLBAR: Above static -->
        <ng-container *ngIf="lambdaConfig.layout.toolbar.position === 'above-static'">
            <ng-container *ngTemplateOutlet="toolbar"></ng-container>
        </ng-container>
        <!-- / TOOLBAR: Above static -->

        <div id="container-2" class="container">

            <!-- NAVBAR: Left -->
            <ng-container *ngIf="lambdaConfig.layout.navbar.position === 'left'">
                <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>
            </ng-container>
            <!-- / NAVBAR: Left -->

            <!-- CONTENT -->
            <content
                [ngClass]="{'ml-32':lambdaConfig.layout.navbar.position === 'left', 'mr-32':lambdaConfig.layout.navbar.position === 'right'}">
            </content>
            <!-- / CONTENT -->

            <!-- NAVBAR: Right -->
            <ng-container *ngIf="lambdaConfig.layout.navbar.position === 'right'">
                <ng-container *ngTemplateOutlet="rightNavbar"></ng-container>
            </ng-container>
            <!-- / NAVBAR: Right -->

        </div>

        <!-- FOOTER: Above static -->
        <ng-container *ngIf="lambdaConfig.layout.footer.position === 'above-static'">
            <ng-container *ngTemplateOutlet="footer"></ng-container>
        </ng-container>
        <!-- FOOTER: Above static -->

    </div>

    <!-- FOOTER: Above fixed -->
    <ng-container *ngIf="lambdaConfig.layout.footer.position === 'above-fixed'">
        <ng-container *ngTemplateOutlet="footer"></ng-container>
    </ng-container>
    <!-- FOOTER: Above fixed -->

</div>

<!-- SIDE PANEL -->
<ng-container *ngIf="!lambdaConfig.layout.sidepanel.hidden && lambdaConfig.layout.sidepanel.position === 'right'">

    <!-- CHAT PANEL -->
    <lambda-sidebar name="chatPanel" position="right" class="chat-panel right-chat-panel"
                  [folded]="true" [foldedWidth]="70" [foldedAutoTriggerOnHover]="false"
                  lockedOpen="gt-md">
        <chat-panel></chat-panel>
    </lambda-sidebar>
    <!-- / CHAT PANEL -->

</ng-container>
<!-- / SIDE PANEL -->

<!-- QUICK PANEL -->
<lambda-sidebar name="quickPanel" position="right" class="quick-panel">
    <quick-panel></quick-panel>
</lambda-sidebar>
<!-- / QUICK PANEL -->

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- @ PARTIALS                                                                                            -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- TOOLBAR -->
<ng-template #toolbar>
    <toolbar *ngIf="!lambdaConfig.layout.toolbar.hidden"
             [ngClass]="lambdaConfig.layout.toolbar.customBackgroundColor === true ? lambdaConfig.layout.toolbar.position + ' ' + lambdaConfig.layout.toolbar.background : lambdaConfig.layout.toolbar.position">
    </toolbar>
</ng-template>
<!-- / TOOLBAR -->

<!-- FOOTER -->
<ng-template #footer>
    <footer *ngIf="!lambdaConfig.layout.footer.hidden"
            [ngClass]="lambdaConfig.layout.footer.customBackgroundColor === true ? lambdaConfig.layout.footer.position + ' ' + lambdaConfig.layout.footer.background : lambdaConfig.layout.footer.position">
    </footer>
</ng-template>
<!-- / FOOTER -->

<!-- LEFT NAVBAR -->
<ng-template #leftNavbar>
    <lambda-sidebar name="navbar" class="navbar-lambda-sidebar"
                  [folded]="lambdaConfig.layout.navbar.folded"
                  lockedOpen="gt-md"
                  *ngIf="!lambdaConfig.layout.navbar.hidden">
        <navbar [variant]="lambdaConfig.layout.navbar.variant" class="left-navbar"></navbar>
    </lambda-sidebar>
</ng-template>
<!-- / LEFT NAVBAR -->

<!-- RIGHT NAVBAR -->
<ng-template #rightNavbar>
    <lambda-sidebar name="navbar" position="right" class="navbar-lambda-sidebar"
                  [folded]="lambdaConfig.layout.navbar.folded"
                  lockedOpen="gt-md"
                  *ngIf="!lambdaConfig.layout.navbar.hidden">
        <navbar [variant]="lambdaConfig.layout.navbar.variant" class="right-navbar"></navbar>
    </lambda-sidebar>
</ng-template>
<!-- / RIGHT NAVBAR -->
