@import "src/@lambda/scss/lambda";
navbar.horizontal-style-1,toolbar,lambda-sidebar.chat-panel,[_nghost-c0] .theme-options-button[_ngcontent-c0]{
    display: none;
}
horizontal-layout-1 #main{
    padding-left: 0 !important;
    padding-bottom: 0 !important;
}
#contacts {

    .header {

        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);

            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;

                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .content {
        overflow: hidden;

        .sidebar {

            &:not(.locked-open) {
                background: white;
            }
        }
    }
}
