<div class="navbar-header" [ngClass]="lambdaConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/lambda.svg">
        <span class="logo-text">Lambda</span>
    </div>

    <button mat-icon-button class="toggle-sidebar-folded"
            (click)="toggleSidebarFolded()" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened"
            (click)="toggleSidebarOpened()" fxHide.gt-md>
        <mat-icon>arrow_forward</mat-icon>
    </button>

</div>

<div class="navbar-content" lambdaPerfectScrollbar [lambdaPerfectScrollbarOptions]="{suppressScrollX: true}"
     [ngClass]="lambdaConfig.layout.navbar.primaryBackground">
    <lambda-navigation layout="vertical"></lambda-navigation>
</div>
